[defaults]
# Default target host inventory file
inventory = inventory.ini

# Avoid interactive prompts during fresh VM spin-ups
host_key_checking = False
retry_files_enabled = False

# Make output readable and structured
stdout_callback = yaml
bin_ansible_callbacks = True

# Increase SSH execution performance
forks = 5

[privilege_escalation]
# Automatically escalate privileges for systems management commands
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
# Reuse SSH connections to speed up execution
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
